body {
  font-family: "Noto Sans TC",Roboto, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1471206527336-42286fcb0db2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  height: 100%;
}

header {
  padding: 20px 20px;
}

header .row a {
  color: peru;
  border:2px peru solid;
  border-radius: 5px;
	transition: all 0.5s;
}

header .row a:hover{
  background-color: peru;
  color: rgba(255,255,255,0.8);
  cursor: pointer;
  filter:brightness(1.1);
}

header .row h1 {
  color: gray;
}

header .row h1 {
  color: gray;
}

footer .row {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  padding: 5px;
  margin: 15px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background:rgba(0,0,0,0);
  background-size: cover;
  color: #ffffff;
  height: 400px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #2a70e0;
  color: #ffffff;
  margin: 0 0 30px;
}

.portrait {
  width:  350px;
  height: 300px;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

footer {
  font-size: 12px;
  padding-top: 60px;
  padding-bottom: 20px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}


